html, body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

a {
    color: $twitter-color;
    text-decoration: none;
}

body.darkmode {
    .wrapper {
        background-color: #10171e;
        transition: background-color .4s ease-in-out;
        color: whitesmoke;
    }

    .tweet {
        background-color: #15202b;
        border-color: #38444d;
        color: whitesmoke;
        transition: background-color .4s ease-in-out, color .4s ease-in-out;
    }
}

.loader {
    background-color: black;
    color: whitesmoke;
    position: fixed;
    top: 0; left: 0;
    right: 0; bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}